---
layout: default
---
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-xs-12">
        <div class="section-left">
          <div class="post-list-item">

            <ul class="post-list" post-cate="All">
              {% for post in site.posts %}
                <li>
                  <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                  <h2>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                  </h2>
                </li>
              {% endfor %}
            </ul>

            <!-- <div class="posts-in-categories"> -->
            {% for category in site.categories %}
              <ul class="post-list" post-cate="{{category | first}}">
                {% for posts in category  %}
                  {% for post in posts %}
                    {% if post.url %}
                      <li>
                        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                        <h2>
                          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                        </h2>
                      </li>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              </ul>
            {% endfor %}



          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12">
        <div class="section-right">
            <div class="head-pic">
              <a href=""><img src="{{ site.baseurl }}/img/xunyunyun.png" alt="头像" title="点击查看" /></a>
            </div>

            <div class="categories-header">
              Categories
            </div>
            <ul class="categories-list">
              <li>
                <a href="javascript:;"  cate="All">
                  All<span class="my-badge"> {{site.categories | size}}</span>
                </a>
              </li>
            {% for category in site.categories %}
              <li>
                <a href="javascript:;" cate="{{ category | first }}">
                  {{ category | first }} <span class="my-badge">{{ category | last | size }}</span>
                </a>
              </li>
            {% endfor %}
            </ul>

        </div>
      </div>

    </div>
</div>










