@charset "utf-8";
/* CSS Document */
body {
	left:0;
	margin:0;
	overflow: hidden;
	position: relative;
}
.menu {
	background: #999;
	position: fixed;
	left:-10%;
	width:10%;
	height:50%;
}
.menu .icon-close {
	padding-top: 5px;
	padding-left: 20px;

}
.menu ul {
	list-style: none;
	border-top: 2px solid #ccc;
	margin:0;
	padding:0; 
}
.menu li {
	border-bottom: 2px solid #ccc;
	cursor: pointer;
	padding-top: 5px;
	padding-left: 20px;

}
.menu a {
	text-decoration: none;
	font-size: 18px;
	line-height: 30px;
}
.content .menu-icon {
	padding-left: 50px;
	padding-top: 10px;
}
.content .glyphicon {
	font-size:40px;
	
}
.content .text{
	line-height:40px;
	font-size:30px;	
}
