@charset "utf-8";
/* CSS Document */
/*统一设置*/
body{
	margin: 0;
	padding: 0;
	background: url("../image/body_bg.jpg") no-repeat;
	background-color: #b4daf0;
}
a:hover { 
	text-decoration: none;
}
ul {
	list-style: none;
}
ul,li,p,textarea,span,h3,img {
	margin:0;
	padding:0;
}
.left_float {
	float: left;
}
.right_float {
	float: right;
}

.badge {
	z-index: 2;
	font-size: 10px;
	color:#fff;
	background-color:#FF8040; 
}
.hr {
	border-right:1px solid #ccc; 
}

.dropdown-menu {
	 min-width: 80px;
	 font-size: 12px;
	 padding-left: 10px;
}
/*header*/


.header {
	height:50px;
	background-color: #f6fafd;
	position: relative;
	
}
.header .headerdiv {
	width:75%;
	margin: 0 auto;
	padding: 2px 0;
}

.logo a img {
	width:25px;
	float: left;
	padding-top: 10px;
}
.logo a span i {
	display:block;
	padding-top: 10px;
	font-size:20px;
	font-family: "宋体";
	font-weight: bold;
	color:#000;
	float: left;
}

.search {
	padding-left: 30px;	
	padding-top: 5px;
}
#search_input{
	line-height: 25px;
	width:505px;
}
#search_icon {
	margin-left: -30px;
	padding-top: 10px;
	font-size: 18px;

}

#navigation {
	line-height:25px;
}
#navigation li {
	display: block;
}
#navigation li a {
	text-align:center;
}
#navigation li a .glyphicon {
	font-size: 18px;
	margin-right:4px;
}
#navigation li a .glyphicon-envelop {
	z-index: 1;
}
#navigation li a .badge {
	padding-top:-20px;
	padding-right:-10px; 
}

/*container css*/
.container {
	background-color: rgba(70, 149, 194, 0.3);
	width:64%;
/*	opacity:0.8;
	filter:alpha(opacity=80);*/
}
/*左边leftdiv css*/
#leftdiv {
	width:15%;
	margin-top:20px;
	float:left;
}
#leftdiv ul {
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px
}
#leftdiv ul li a {
	display: block;
	width:100%;
	text-align: left;
}
#leftdiv ul li a:hover{
	background-color:rgba(255,255,255,0.2);
	/*opacity:0.2;
	filter:alpha(opacity=20); */
}

#left_top li a {
	font-size: 14px;
	color:#fff;
	font-weight: bolder;
	line-height: 40px;
}

#left_down li a {
	font-size:12px;
	color:#fff;
	font-weight: bold;
	line-height: 35px;
}

#left_down .text {
	padding-left: 5px;
}
#left_down .badge {
	float:right;
	margin-top: 10px;
	margin-right: 5px;
}
/*main样式*/
#main {
	width:64%;
	margin:20px 0 0;
	position: relative;
	float:left;
}
/*模块统一样式*/
#main .model {
	background-color:#fff;
	border:1px solid #ccc;
	border-radius:4px;
	margin-bottom: 10px;
	height: 100%;
	z-index: 3;
	/*下两行代码是为了自适应高度*/
	height:100%;
	overflow: hidden;
	/* overflow: auto; */
}
/* 标题模块*/
#main h3 {
	font-family: "微软雅黑";
	font-size:20px;
	color:#0080FF;
	margin-top: 15px;
	float:left;
}
#main .prompt {
	margin-top: 20px;
	float:right;
}
#main .prompt span{
	font-size: 14px;
	color:#FF8040;
}
/*内容模块*/
#main textarea {
	position: relative;
	display:block;
	width:96%;
	height: 80px;
	margin:0 auto;
	border:1px solid #ccc;

}
/*不同主题*/
#main .first_bottom {
	position: relative;
	margin:10px 10px; 
}
#main .first_bottom li {
	display: block;
	margin-right: 10px;
}
#main .icon_menu li {
	float: left;
}
#main .butt li {
	float: right;
}
#main .icon_menu .glyphicon {
	margin-right: 5px;
}

#main .dropdown-menu span {
	margin-right: 5px;
}

/*中间广告条*/
#ad1 img {
	width:100%;
}
#ad1 .glyphicon {
	float: right;
	margin-top: -80px;
	font-size: 20px;
}
/*分类条*/
#container_nav {
	padding: 5px 10px; 
}
#container_nav ul li {
	float: left;
	margin-left: 16px;
	margin-right: 16px;
	
} 
#container_nav ul li a{
	font-size: 12px;
	color: #000;
}
/* 现在会在360浏览器上出问题。之前在firefox上出问题*/
#search2 {
	position: relative;
	width: 200px;
}
#search2 input {
	width: 200px;
} 
#search2 .icon_two {
	display: inline;
	margin-left: -40px;
}

/*内容条*/
.content {
	position: relative;
}
.item {
	padding:8px; 
	/*下两行代码是为了自适应高度*/
	height:100%;
	overflow: auto;
}
/*内容条左*/
.content .left_side {
	width:10%;
	float: left;
	
}
.head_picture {
	border-radius:50%;
	overflow:hidden;
}
.head_picture img{
	width: 100%
}
/*内容条右*/
.content .right_side {
	width:88%;
	float: right;
}
.user_name{
	font-size: 18px;
	font-weight: bold;
	font-family: "微软雅黑";

}
 
.status p{
	font-family: "微软雅黑";
}
.status p.user_content{
	font-size:14px; 
}
.status p.update_time{
	clear:both;
	font-size: 12px;
	color: #555; 
}
.status .picture ul {
	width: 60%;
	overflow: hidden;
}
.status .picture li {
	float: left;	
}
.status .picture li .zoom-out{
	cursor: url("http://img.t.sinajs.cn/t6/style/images/common/big.cur"), auto;
}
.status .picture li a{
	display: block;
	margin: 5px;	
}
/*放大图片*/
.change_big {
	visibility: hidden;
	position: absolute;
	background-color: #eee;
	border-radius: 2px;
	margin: 4px;
	padding: 10px; 
}
.change_big .big_nav {
	margin-bottom: 8px;
}
.big_nav ul li {
	float: left; 
	text-align: center;
	width: 15%;

}
.big_nav ul li .glyphicon{
	margin-right: 4px;
}
.big_nav ul li a {
	color: #555;
	font-size: 12px;
}
.big_nav ul li a:hover{
	color: #FF8040;
}
.change_big .big_pic {
	text-align: center;
}
.change_big .big_pic .zoom-in {
	cursor: url("http://img.t.sinajs.cn/t6/style/images/common/small.cur"), auto;
}

/*收藏转发 行为条*/
.item_action {
	border-top: 1px solid #eee;
	padding: 5px;

}
.item_action ul {
	display: block;
	overflow: hidden;
	width: 100%;
	margin-left: 2px;
}
.item_action ul li{
	text-align: center;
}
.item_action ul li a{
 	color: #555;
 	font-size: 12px;
}
.item_action ul li a:hover{
 	color: #FF8040;
}





/*右侧模块*/
#rightdiv {
	width:20%;
	height:900px;
	border: 1px solid #ccc; 
	margin-top:20px;
	float:right;
}
