/*用js或用jquery实现瀑布流的css*/
 
* { margin:0; padding:0;  }
.main { position: relative; margin:0 auto;  }
.box { padding:15px 0 0 15px; float: left;}
.pic { padding:10px; border:1px solid #ccc; border-radius:5px; box-shadow: 0 0 5px #ccc; }
.pic img { width: 256px; height: auto;} 
/* width: 165px;*/


/*CSS3实现瀑布流*/
/*#main {
	-webkit-column-width:293px;
	-moz-column-width:293px;
	-o-column-width:293px;
	-ms-column-width:293px;

	-webkit-column-count:4;
	-moz-column-count:4;
	-o-column-count:4;
	-ms-column-count:4;
}
.box { 
	padding:10px 0 0 15px;
}
.pic { 
	padding:10px; 
	border:1px solid #ccc; 
	border-radius:5px; 
	box-shadow: 0 0 5px #ccc; 
	width:256px;
}
.pic img { 
	display: block;
	width: 256px; 
	height: auto;
}*/

/*
	js实现：
	需要一步一步的计算，列数=浏览器窗口宽度/图片宽度
	图片定位是根据每一列数据库的高度计算接下来图片的位置；
	图片排序是按照图片计算的位置横向排列，位置是计算出来的，比较规范。

	CSS3实现：
	不需要计算，浏览器自动计算，只需要设置列宽，CSS3性能高很多，因为浏览器可以直接解析，不需要js代码去计算；
	缺点：列宽随着浏览器窗口大小进行改变，用户体验不好
		  图片排序按照垂直顺序排列，打乱图片显示顺序

*/