<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
        {{ content }}
    </div>

    <!--  回到头部  -->
    <div id="backtotop">
      <a href="javascript:;">
        <span class="glyphicon glyphicon-arrow-up"></span>
      </a>
    </div>

    {% include footer.html %}

  <!-- 畅言评论系统 -->
 <!--  <script charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/changyan.js" ></script>
  <script type="text/javascript">
      window.changyan.api.config({
          appid: 'cyrRkQsSM',
          conf: 'prod_4e4b0feba5fe9dc1ab32e169e6f4028f'
      });
  </script>  -->

  <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
  <script type="text/javascript">
  var duoshuoQuery = {short_name:"xunyunyun"};
    (function() {
      var ds = document.createElement('script');
      ds.type = 'text/javascript';ds.async = true;
      ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
      ds.charset = 'UTF-8';
      (document.getElementsByTagName('head')[0] 
       || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
  <!-- 多说公共JS代码 end -->

  </body>

</html>
