<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
        {{ content }}
    </div>

    <!--  回到头部  -->
    <div id="backtotop">
      <a href="javascript:;">
        <span class="glyphicon glyphicon-arrow-up"></span>
      </a>
    </div>

    {% include footer.html %}

  <script charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/changyan.js" ></script>
	<script type="text/javascript">
	    window.changyan.api.config({
	        appid: 'cyrRkQsSM',
	        conf: 'prod_4e4b0feba5fe9dc1ab32e169e6f4028f'
	    });
	</script>      

  </body>

</html>
